<img class="user-profile-image" src="{{user.profileImage}}"/>
<div class="user-profile-info">
  <p class="user-profile-info-name">{{user.firstName}} {{user.lastName}}</p>
  <p class="user-profile-info-bio">
    {{user.bio}}
  </p>
</div>
<div class="user-profile-engage">
  <button class="a11y-workshop-icon-button {{if isSelected 'user-profile-engage-remove' 'user-profile-engage-add'}}"
          onclick={{action (mut isSelected) (not isSelected)}}>
    {{svg-jar 'plus'}}
  </button>
</div>
