<nav class="sidebar">
  <div class="nav-header">{{link-to 'Setup' 'index'}}</div>
  <div class="nav-header">Exercises</div>
  <ul class="plain-list">
    <li>
      {{link-to 'Button/Link Labels' 'exercises.button-link-text'}}
    </li>
    <li>
      {{link-to 'Form Controls' 'exercises.form-elements'}}
    </li>
    <li>
      {{link-to 'Focus Management' 'exercises.focus-management'}}
    </li>
    <li>
      {{link-to 'List Children' 'exercises.list-children'}}
    </li>
    <li>
      {{link-to 'Document Structure' 'exercises.document-structure'}}
    </li>
    <li>
      {{link-to 'Color Contrast' 'exercises.color-contrast'}}
    </li>
  </ul>
</nav>

<div class="main">
  {{outlet}}
</div>