<div class="sidebar">
  <header>
    <div class="page-header">
      <h1>Exercises</h1>
    </div>
  </header>

  <div class="a11y-exercise">
    <nav>
      <div class="a11y-exercise-learning-objectives">
        <ol>
          <li>
            {{link-to 'Button/Link Labels' 'exercises.button-link-text'}}
          </li>
          <li>
            {{link-to 'Form Controls' 'exercises.form-elements'}}
          </li>
          <li>
            {{link-to 'Focus Management' 'exercises.focus-management'}}
          </li>
          <li>
            {{link-to 'List Children' 'exercises.list-children'}}
          </li>
          <li>
            {{link-to 'Document Structure' 'exercises.document-structure'}}
          </li>
          <li>
            {{link-to 'Color Contrast' 'exercises.color-contrast'}}
          </li>
        </ol>
      </div>
    </nav>
  </div>
</div>

<div class="main">
  {{outlet}}
</div>